.authorization-form {
    width: 40vw; 
    height: 70%;
    margin-left: 7vw;

    .from-input-group-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .from-input-group {
        height: 65%;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        flex-direction: column;
        justify-content: space-around;


        .input-line {
            display: flex;
        }

        .form-input {
           
            &.dropdown, a{
                color: black;
                margin: 0px;
                padding: 1vw;
               
            }
            .wrap-dd-select .dropdown {
                max-height: 350px;
            }
            padding: 0.5vw;
            border-radius: 2vw;
            line-height: 1vw;
            width: 40vw;
            font-size: 1vw;
        }

        .ng-dirty.ng-invalid {
            background-color: wheat;
        }

    }

    .authorization-button {
        background-image: url('../assets/lightbox_controls_next.png');
        background-size: contain;
        width: 5vw;
        height: 10vw;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 15px;

        &.back {
            transform: rotate(180deg);
            margin-left: 0;
            margin-right: 15px;
        }
    }

    .warnings {
        padding-top: 10px;
        font-size: 20px;
        color: white;
        text-align: center;
    }
}
 @media (min-width: 320px) and (max-width: 412px){
   .form-input {
      
       &.dropdown, a{
            color:white;
       }
   }
 }

 /*       @media (max-width: 780px) {
            .form-input {
                width: 60vw;
                height: 20px;
            }
        }

       @media (min-width: 781px) and (max-width: 960px) {
            .form-input {
                width: 40vw;
                height: 20px;
            }
        }

        @media (min-width: 961px) {
            .form-input {
                width: 30vw;
                height: 26px;
            }
        }*/
 /*
  
}

@media (min-width: 413px)  and (max-width: 767px) {
    .authorization-form-container {
        height: 70%;
    }
    .authorization-form {
        height: 85%;
        margin-top: -20px;
    }
    .form-input {
        height: 42px;
        width: 65vw;
    }
}

@media (min-width: 768px)  and (max-width: 980px){
    .form-input {
        height: 42px;
        width: 50vw;
    }
}*/
  /*
@media (min-width: 981px) and (max-width: 1400px){
    .form-input {
           color: red;
    }
}
*/