.authorization-form {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-items: center;
    width: 40vw; 
    height: 60%;
    margin-left: 5vw;

   
     .from-input-group {
        height: 65%;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .authorization-button {
        background-image: url('../assets/lightbox_controls_next.png');
        background-size: contain;
        width: 40px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 15px;
    }
}
 @media (min-width: 320px) and (max-width: 412px){
 .authorization-form {
        height: 85%;
        margin-top: -25px;
    }
    .form-input {
        height: 42px;
        width: 65vw;
    }
}

@media (min-width: 413px)  and (max-width: 767px) {
    .authorization-form-container {
        height: 70%;
    }
    .authorization-form {
        height: 85%;
        margin-top: -20px;
    }
    .form-input {
        height: 42px;
        width: 65vw;
    }
}

@media (min-width: 768px)  and (max-width: 980px){
    .form-input {
        height: 42px;
        width: 50vw;
    }
}
  
@media (min-width: 981px) and (max-width: 1400px){
    .form-input {
        height: 42px;
        width: 50vw;
    }
}