.authorization-form {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-items: center;
    width: 40vw; 
    margin-left: 10vw;

   
     .from-input-group {
        height: 65%;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .authorization-button {
        background-image: url('../assets/lightbox_controls_next.png');
        background-size: contain;
        width: 40px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-left: 15px;
    }
}

@media (min-width: 412px) {
    .authorization-form-container {
        height: 70%;
    }
    .authorization-form {
        height: 85%;
    }
    .form-input {
        height: 42px;
        width: 65vw;
    }
}
       
