.header {
   // width: 100%;
    //height: 18vh;
    color: white;
    font-size: 20px;

    /*.header-register-sign {
        color: white;
        font-size: 20px;
        margin: auto;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        flex-wrap: wrap;
        width: 450px;
        z-index: 50;*/

        @mixin hoverEffect {
            cursor: pointer;
            text-shadow: 3px 2px 1px rgba(0,0,0,0.5);
        }

        @mixin activeEffect {
            color: $pink-light;
            text-shadow: 3px 2px 1px rgba(0,0,0,0.5);
        }

        #register-company {
           // margin: auto;
           // width: 245px;
            &:hover {
                @include hoverEffect;
            }
            &.active {
                 @include activeEffect;
            }
        }
        
        .sign-user {
          //  margin: auto;
            #sign-in:hover, #sign-up:hover {
                @include hoverEffect;
            }
            #sign-in.active, #sign-up.active {
                 @include activeEffect;
            }
        }
    }

    .header-logo-name {
      //  margin: auto;
        display: flex;
        align-items: center;
      //  z-index: 50;

        .alarm-logo {
            width: 60px;
            height: 65px;
        }

        .header-name-container {
            //width: 140px;
            //color: white;
            margin-left: 10px;
            
            .logo-name-time {
                font-size: 25px;
            }
            .logo-name-tracker {
                font-size: 30px;
                margin-top: 3px;
            }
        }
    }

