.header {
    color: white;
    font-size: 20px;

    .header-full-top-menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @mixin hoverEffect {
            cursor: pointer;
            text-shadow: 3px 2px 1px rgba(0,0,0,0.5);
        }

        @mixin activeEffect {
            color: $pink-light;
            text-shadow: 3px 2px 1px rgba(0,0,0,0.5);
        }

        .header-authorization-navigation {
            width: 500px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin:auto;

            #register-company {
                margin:auto;

                &:hover {
                    @include hoverEffect;
                }
                &.active {
                    @include activeEffect;
                }
            }
            
            .sign-user {
                 margin:auto;

                #sign-in:hover, #sign-up:hover {
                    @include hoverEffect;
                }
                #sign-in.active, #sign-up.active {
                    @include activeEffect;
                }
            }
        }

        .header-logo-name {
            display: flex;
            align-items: center;
            margin:auto;
            margin-bottom: 20px;
            margin-top: 20px;

            .alarm-logo {
                width: 60px;
                height: 65px;
            }

            .header-name-container {
                margin-left: 10px;
                
                .logo-name-time {
                    font-size: 25px;
                }
                .logo-name-tracker {
                    font-size: 30px;
                    margin-top: 3px;
                }
            }
        }
    }
}
