.registration-authorization-area-container {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    min-width: 320px;
    flex-grow: 1;

    #inscription {
        position: relative;
        text-transform: uppercase;
        color: white;
        z-index: 10;
        border: none;
        text-align: center;
        font-size: 4vw;
        text-shadow: 3px 2px 1px rgba(0,0,0,0.5);


    }

    .description-container {
        z-index: 10;

        #description {
            color: white;
            padding-right: 8vw;
            font-size: 1.5vw;
            width: 35vw;
            line-height: 2.5vw;
            word-spacing: 0.7vw;
        }
    }

    .upper-pink-container {
        background-color: $pink-light;
       // background-repeat: no-repeat;
        width: 100%;
        min-width: 320px;
        min-height: 40%;
        position: absolute;
        background-size: cover;

        @import './authorization';
    }
    .main-upper-pink-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

   /* .lower-pink-container {
        background-image: url('../assets/afsgegewg.png');
        background-repeat: no-repeat;
        width: 100%;
        min-width: 320px;
        min-height: 30%;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        background-size: cover;
    }*/

 @media (min-width: 0px) {
        .upper-pink-container {
            height: 50%;
        }
       /* .lower-pink-container {
            height: 70%;
        }*/

 }

   /*@media (min-width: 320px) and (max-width: 378px){
        #inscription {
          padding: 6px;
        }
   }*/
   @media (max-width: 425px)  {
        .upper-pink-container {
            height: 46%;
        }
       /* .lower-pink-container {
            height: 70%;
        }*/
     /*   #inscription {
           margin-top: 0px;
           font-size: 9vw;
        }
       */ 
    }
/*
    @media  (max-width: 767px) {
         #inscription {
           font-size: 8vw;
        }
    }

    @media (min-width: 768px) and (max-width: 979px){
         #inscription {    
             font-size: 7vw;
             margin-top: -7px;
         }
    }

    @media (min-width: 920px)  and (max-width: 980px) {
         #inscription {    
             margin-top: -12px;
         }
    }

    @media (min-width: 1200px){
        #inscription {    
             margin-top: 17px;
         }
    }*/
}