<div class="explanatory-dialog">
    <div class="dialog-name">Add new task</div>
    <div class="dialog-content task">
        <div class="input-add-task">
            <span class="task-code-lable">Enter code</span>
            <input type="text" class="task-code">
            <span class="task-description-lable">Enter description</span>
            <textarea cols="50" rows="3" class="task-description"></textarea>
        </div>
    </div>
    <div class="add-new-task" ng-click="openNewRequestForm()">Save</div>
</div>

