<div class="explanatory-dialog">
    <div class="dialog-name">Explanatory list</div>
    <div class="dialog-content list">
        <ul class="list">
            <li class="list-item" ng-click="openFormForExplanatory()">
                Request for explanatory from
                <span class="sender-name">Nastya Udot</span>
                <span class="date">07.04.2007</span>
                <div class="remove-button">Remove</span>
            </li>
            <li class="list-item" ng-click="openFormForExplanatory()">
                Request for explanatory from
                <span class="sender-name">Nastya Udot</span>
                <span class="date">07.04.2007</span>
                <div class="remove-button">Remove</span>
            </li>
        </ul>
    </div>
    <div class="add-new-request dialog-button" ng-click="openNewRequestForm()">Add new request</div>
</div>