<div class="explanatory-dialog">
    <div class="dialog-header">
        <span class="dialog-name">Request for explanatory</span>
    </div>
    <div class="dialog-content form">
        <div class="header">
            <div class="from-user">
                FROM: Nastya Udot
            </div>
            <div class="date-request">
                DATE: 07.04.2007
            </div>
            <div class="not-worked">
                NOT WORKED OUT: 2 hours 3 minutes
            </div>
            <div class="period">
                PERIOD: 21.05.2016 - 22.05.2016
            </div>
        </div>
        <div class="input-explanatory">
            <textarea cols="50" rows="9" class="explanatory"></textarea>
        </div>
        <div class="buttons-area">
            <span class="button send-response-button">Send</span>
            <span class="button save-button">Save as...</span>
            <span class="button accept-button">Accept</span>
        </div>     
    </div>
</div>