<div class="header container">
    <div class="header-full-top-menu row">
        
    <div class="header-logo-name col-lg-7 col-sm-4">
        <span class="header-logo-container">
            <img class="alarm-logo" src="assets/orologio_clock_alarm.png">
        </span>    
        <span class="header-name-container">
            <div class="logo-name-time">Time</div>
            <div class="logo-name-tracker">TRACKER</div>
        </span>
    </div>

        <div id="register-company" class="logo-register-company col-lg-3 col-sm-4" ng-click="onClick('registerCompany')">Register your company</div>
        <div class="sign-user col-lg-2 col-sm-4">
            <span id="sign-in" ng-click="onClick('signIn')">Sign in</span>
            <span class="slash">/</span> 
            <span id="sign-up" ng-click="onClick('signUp')">Sign up</span>
        </div>
   
    </div>
   
</div>