<div class="header">
    <span class="header-logo-name">
        <span class="header-logo-container">
            <img class="alarm-logo" src="assets/orologio_clock_alarm.png">
        </span>    
        <span class="header-name-container">
            <div class="logo-name-time">Time</div>
            <div class="logo-name-tracker">TRACKER</div>
        </span>
    </span>
    <span class="header-register-sign" ng-show="unAuth">
        <span id="register-company" class="logo-register-company" ng-click="onClick('registerCompany')">Register your company</span>
        <span ng-show="unAuth" class="sign-user">
            <span id="sign-in" ng-click="onClick('signIn')">Sign in</span>
            <span class="slash">/</span> 
            <span id="sign-up" ng-click="onClick('signUp')">Sign up</span>
        </span>
    </span>
    <span class="header-sign-out" ng-hide="unAuth">
        <span id="sign-out" ng-click="onClick('signOut')">Sign out</span>
    </span>    
</div>