<div class="registration-authorization-area-container container-fluid">
    <div class="upper-pink-container row">
        <div class="incription-area col-sm-12">
            <div id="inscription" ng-model="inscription" ng-show="tabs.registerCompany">Registration</div>
            <div id="inscription" ng-model="inscription" ng-show="tabs.signIn">Sign in</div>
            <div id="inscription" ng-model="inscription" ng-show="tabs.signUp">Sign up <span ng-show="newCompany">director</span></div>
         </div>
        <div class="main-upper-pink-content col-sm-9">
            <registration-container ng-show="tabs.registerCompany"></registration-container>
            <sign-in-container ng-show="tabs.signIn"></sign-in-container>
            <sign-up-container ng-show="tabs.signUp"></sign-up-container>
        </div>
        <div class="description-container visible-desktop visible-tablet col-lg-3">
                <div id="description" ng-show="tabs.registerCompany">
                    You can CREATE your company's account and START tracking.
                </div>
                <div id="description" ng-show="!newCompany && tabs.signUp">
                    CREATE your profile to REGISTER your person in company.
                </div>
                <div id="description" ng-show="tabs.signIn">
                    START your workday after signing in.
                </div>
                <div id="description" ng-show="newCompany && tabs.signUp">
                    SIGN UP as a DIRECTOR of your company.
                </div>
        </div>
    </div>
</div>