.explanatary-dialog {

    .dialog-name {
        font-size: 20px;
        color: gray;
    }

    .dialog-content {
       background-color: #beafaf;
       overflow-y: scroll;
       height: 140px;
    }
}