.back-to-list {
    color: white;
    width: 92px;
    height: 30px;
    background-color: gray;
    border-width: 2px;
    font-size: 14px;
    padding-left: 11px;
    padding-top: 5px;;

    &:hover {
        opacity: 1;
        background-color: white;
        color: gray;
        cursor: pointer;
    }
}