<div class="header container">
    <div class="header-full-top-menu">
        <div class="header-logo-name">
            <span class="header-logo-container">
                <img class="alarm-logo" src="public/assets/orologio_clock_alarm.png">
            </span>    
            <span class="header-name-container">
                <div class="logo-name-time">Time</div>
                <div class="logo-name-tracker">TRACKER</div>
            </span>
        </div>
        <div class="header-authorization-navigation">
           <div id="register-company" ng-hide="loggedIn" ng-click="onClick('registerCompany')">Register your company</div>
           <div class="sign-user"  ng-hide="loggedIn">
                <span id="sign-in" ng-click="onClick('signIn')">Sign in</span>
                <span class="slash">/</span> 
                <span id="sign-up" ng-click="onClick('signUp')">Sign up</span>
            </div>
            <div id="sign-out" ng-show="loggedIn && permission.EMPLOYEE_CONTROL">Back to list</div>
            <div id="sign-out" ng-show="loggedIn" ng-click="onClick('signOut')">Sign out</div>
        </div> 
    </div>
</div>