<form
    class="authorization-form"
    name="registerCompanyForm"
    ng-submit="registerCompanyForm.$valid && confirm()">
    <div class="from-input-group-button">
        <span class="from-input-group">
            <input
                name="company"
                ng-model="companyName"
                class="wrap-dd-select form-input"
                placeholder="Company's name..."
                comapny-validation="companyInvalid"
                company-exists="companyExists"
                required>
            <input
                name="legalNumber"
                type="text"
                ng-model="registrationLegalNumber"
                class="wrap-dd-select form-input"
                placeholder="Legal number..."
                required>
        </span>
        <span class="button-container">
            <button 
                id="confirm-button" 
                class="authorization-button"
                ng-disabled="disableSave">
            </button>
        </span>
    </div>
</form>
