<div class="explanatary-dialog">
    <div class="dialog-name">Explanatary list</div>
    <div class="dialog-content">
        <ul class="list">
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>
            <li class="list-item">
                <span class="date"></span>
            </li>

            
        </ul>
    </div>
</div>