<div class="profile-info-container">
    <div class="profile-info-header">
        <span class="block-name">
            Company:
        </span>
        <span class="name">New Company Name</span>
    </div>
    <div class="profile-info">
        <span class="profile-info-photo"></span>
        <span class="profile-info-card">
            <div class="info">
                <div class="name">Udot Anastasiya Yuryevna</div>
                <div class="role">employee</div>
                <div class="mail">anastasiya.udot@gmail.com</div>
            </div>
            <div class="profile-buttons">
                <span class="profile-button"><div class="calendar"></div></span>
                <span class="profile-button"><div class="orders"></div></span>
                <span class="profile-button"><div class="explanatary"></div></span>
            </div>
        </span>
    </div> 
</div>
