<div class="header">
    <span class="header-logo-name">
        <span class="header-logo-container">
            <img class="alarm-logo" src="assets/orologio_clock_alarm.png">
        </span>    
        <span class="header-name-container">
            <div class="logo-name-time">Time</div>
            <div class="logo-name-tracker">TRACKER</div>
        </span>
    </span>
    <span class="header-register-sign">
        <span id="register-company" class="logo-register-company">Register your company</span>
        <span class="sign-user">
            <span id="sign-in">Sign in</span>
            <span class="slash">/</span> 
            <span id="sign-up">Sign up</span>
        </span>
    </span>    
</div>