<span class="authorization-form-container">
    <form class="authorization-form">
        <input id="company-name" class="form-input">
        <input id="company-legal-number" class="form-input">
        <input id="company-director-name" class="form-input">
        <input id="company-director-surname" class="form-input">
        <input id="company-director-patronymic" class="form-input">
        <input id="company-director-password" class="form-input">
        <input id="company-director-confirm-password" class="form-input">
    </form> 
</span>  