<form class="authorization-form">
    <span class="from-input-group">
        <input id="company-name" ng-model="companyName" class="form-input" placeholder="Compay's' name..." required>
        <input id="company-director-name" ng-model="username" class="form-input" placeholder="Your name..." required>
        <input id="company-director-surname" ng-model="surname" class="form-input" placeholder="Your surname..." required>
        <input id="company-director-patronymic" ng-model="patronymic" class="form-input" placeholder="Your patronymic..." required>
        <input id="company-director-email" ng-model="email" class="form-input" placeholder="Your email" required>
        <input id="company-director-password" ng-model="password" class="form-input" placeholder="Password..." required>
        <input id="company-director-confirm-password" ng-model="confirmPassword" class="form-input" placeholder="Confirm password..." required>
    </span>
    <span class="button-container">
        <button id="confirm-button" class="authorization-button"></button>
    </span>    
</form> 
