<div class="explanatory-dialog">
    <div class="dialog-name">Order "Worktime for period"</div>
    <div class="dialog-content order">
        <div class="save-radio">
            <div class="save-button dialog-button" ng-click="saveFile()">Save</div>
            <div class="file-types">
                <input type="radio" ng-model="fileType" value="csv" /> CSV<br />
                <input type="radio" ng-model="fileType" value="pdf" /> PDF<br />
                <input type="radio" ng-model="fileType" value="xls" /> XLS<br />
            </div>
        </div>
    </div>
</div>