<div class="explanatory-dialog">
    <div class="dialog-name">New request</div>
    <div class="dialog-content request">
        <div class="section-name">Set period</div>
        <datetime-range on-close="checkRangeChanged()" start="start" end="end" presents="presets"></datetime-range>
        <div class="section-name">Result</div>
        <div class="result">
            <span class="in-fact">
                <div class="result-label">
                    In fact:
                </div>
                <div class="value">
                    {{inFact}}
                </div>
            </span>
            <span class="expected">
                <div class="result-label">
                    Expected:
                </div>
                <div class="value">
                    {{expected}}
                </div>
            </span>
        </div>
        <div class="send-request dialog-button" ng-click="sendNewExplanatoryRequest()">Send request</div>
    </div>
</div>