<application-header></application-header>
<div class="container-fluid">  
    <div class="generate_button_area"> 
        <span class="btn btn-primary generate_button">Generate order by work time</span>
        <span class="btn btn-primary generate_button">Generate order by tasks</span>
     </div>   
    <table class="table table-bordered employee_table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Patronymic</th>
            <th>Worked hours</th>
            <th>Work plan</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="tables_button_area">
                <div class="btn-group ">
                    <button class="btn btn-primary role_button">Role</button>
                    <button class="btn btn-primary dropdown-toggle drop_role_button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li role_item>admin</li>
                        <li role_item>user</li>
                    </ul>
                </div>
            </div>  
         </td>   
        </tr>
    </tbody>
    </table>
</div>