.dialog-content {

    &.orders {
        display: flex;
        margin-top: 5px;
        flex-direction: column;

         .button {
            margin-top: 0;
            }
    
       /* .button {
            margin: auto;
            margin-top: 7px;

            &:hover {
                text-decoration: underline;
                color: #721c1c;
                cursor: pointer;
            }
        }*/
    }
}