.dialog-content {

    &.order {
        margin-top: 5px;
        
        .section-name {
            padding-left: 10px;
            font-size: 16px;
        }
        .datetime-range {
            margin-top: 20px;
            min-width: 320px;

            .start-datetime {
                position: absolute;
                width: calc(100%/2 - 32px);
            }

            .start-datetime:after{
                right: -0.987em;
            }

            .end-datetime {
                position: absolute;
                left: 49%;
                width: calc(100%/2 - 32px);
            }

           .end-datetime:before{
                left: -0.89em;
           }
        }   
      
    }
}
@media(max-width: 330px){
     .datetime-range {
         .edit-popover{
             width:91%;
         }
     }

}