.dialog-content {

    &.list {
        background-color: #beafaf;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 179px;
        margin-top: 5px;
        margin-bottom: 23px;

        .list-item {
            padding: 10px;
            border-bottom: #721c1c dotted 1px;
            margin-right: 40px;

            &:hover {
                color: #721c1c;
                cursor: pointer;
            }

            .remove-button {

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}

