<span class="page-left" ng-click="prevWeekClicked()"></span>
<!--<span class="circle-info">-->
    <!--<div id="circle-week">-->
      <!--<div class="time">-->
        <!--<div class="days" id="tracking-week-days"></div>-->
        <!--<div class="hours" id="tracking-week-hours"></div>-->
        <!--<div class="minutes" id="tracking-week-minutes"></div>-->
      <!--</div> -->
    <!--</div>-->
<!--</span>-->
<span class="day-time-fact">{{weekTimeFact}} h /</span><span class="day-time-expected"> {{weekTimeExpected}} h</span>
<span class="page-right" ng-click="nextWeekClicked()"></span>